.c-blog-title{
  color: $text-white;
  font-weight: 400;
  font-size: rem(20);
  line-height: rem(35);
  letter-spacing: rem(0.4);

  @include mq(tab) {
    font-weight: 500;
    font-size: rem(23);
  }
}