<div class="l-header p-header">
  <div class="p-header__inner">
    <div class="p-header__logo">
      <a href="index.html">
        <img src="images/common/CodeUps.svg" alt="Codeups">
      </a>
    </div>
    <div class="p-header__menu">
      <%- include('../parts/_c-hamburger') %>
      <%- include('../parts/_p-header-nav') %>
    </div>
  </div>
</div>