.p-blog-listNumber{
  line-height: rem(35);
  letter-spacing: (0.4);
  color: #fff;
  position: relative;
  counter-reset: number;
}

.p-blog-listNumber li::before {
  counter-increment: number;
  content: counter(number);
  padding-right: 5px;
}