

.p-blog-card__content{
  color: $text-black;
  background: $background-white;
  padding: rem(8) rem(24) rem(16);
  transition: all .3s ease;
}

.p-blog-card__wrapper:hover .p-blog-card__content{
  background: $background-gray;
  color: $text-white;
}

.p-blog-card__title{
  font-size: rem(18);
  font-weight: 500;
  line-height: rem(35);
  letter-spacing: (1);
}

.p-blog-card__text{
  font-size: rem(14);
  line-height: rem(26);
  letter-spacing: (1);
}

.p-blog-card__bottom{
  display: flex;
  justify-content: space-between;
  margin-top: rem(8);
}

.p-blog-card__tag{
  background: $accent-color1;
  color: $text-black;
  padding: 0 rem(6);
  line-height: rem(26);
}

.p-blog-card__date{
  font-size: rem(14);
  line-height: rem(26);
}