.p-blog-card{
  width: calc(33.3% - 24px * 2 / 3);
}

.p-blog-card:not(:nth-child(3n + 1)){
  margin-left: rem(24);
}

.p-blog-card__content{
  background: $background-white;
  padding: rem(16) rem(24);
}

.p-blog-card__title{
  font-size: rem(18);
  font-weight: 500;
  line-height: rem(35);
}

.p-blog-card__text{
  font-size: rem(14);
  line-height: rem(26);
}

.p-blog-card__bottom{
  display: flex;
  justify-content: space-between;
  margin-top: rem(4);
}

.p-blog-card__tag{
  background: $accent-color1;
}

.p-blog-card__date{
  font-size: rem(18);
  color: $background-white;
}