.p-news-item{

  @include mq(tab) {
    display: flex;
  }
}

.p-news-item__upper {
  line-height: 1;
  font-size: 0;
  @include mq(tab) {
    flex: 0 0 27%;
  }
}

.p-news-item__time {
  font-size: rem(16);
  font-weight: $font-weight-base;
  line-height: calc(23/16);
  padding-top: rem(2);
}

.p-news-item__category{
  font-size: rem(14);
  padding: rem(6) rem(22);
  margin-left: rem(29);
  border: rem(1) $text-white solid;

  @include mq(tab) {
    margin-left: rem(48);
  }
}

.p-news-item__title {
  font-size: 0;
  line-height: 1;
  margin-top: rem(20);
  @include mq(tab) {
    margin-top: 0;
    padding-top: rem(2);
    flex: 0 0 74%;
  }
}

.p-news-item__title a{
  font-size: rem(16);
  font-weight: $font-weight-base;
  line-height: calc(23/16);
  transition: color .3s ease;
  display: block;
  @include mq(tab) {
    margin-left: rem(61);
  }
}

.p-news-item__title a:hover{
  color: $main-color;
}