.p-news-item{

  @include mq(tab) {
    display: flex;
  }
}

.p-news-item__category{
  font-size: rem(14);
  padding: rem(6) rem(22);
  margin-left: rem(29);
  border: rem(1) $text-white solid;

  @include mq(tab) {
    margin-left: rem(48);
  }
}

.p-news-item__title a{
  font-size: rem(16);
  font-weight: $font-weight-base;
  line-height: calc(23.17/16);
  transition: color .3s ease;

  @include mq(tab) {
    margin-left: rem(61);
  }
}

.p-news-item__title a:hover{
  color: $main-color;
}