.wp-pagenavi a, .wp-pagenavi span{
  line-height: rem(27);
  border: rem(1) solid $background-white;
}

.wp-pagenavi a{
  transition:　all .3s ease;
}

.wp-pagenavi .previouspostslink, .nextpostslink{
  padding: 0 rem(13);
}

.wp-pagenavi .previouspostslink{
  margin-right: rem(24);
}

.nextpostslink{
  margin-left: rem(24);
}

.wp-pagenavi .page{
  padding: 0 rem(8);
}

.wp-pagenavi .page:not(:nth-of-type(1)){
  margin-left: rem(16);
}

.wp-pagenavi .current{
  color: $text-black;
  background: $background-white;
}

.wp-pagenavi a:hover{
  background: $background-white;
  color: $text-black;
}