<div class="c-breadcrumb">
  <span><a href="#">トップ</a></span> 
  <% if (text2 === '') { %>
  <span><%= text1 %></span>
  <% } else { %> 
  <span><a href="<%= link %> "><%= text1 %></a></span>
  <span><%= text2 %></span>
  <% } %> 
</div>