<div class="swiper p-gallery-slider js-gallery-slider">
    <div class="swiper-wrapper">
        <div class="swiper-slide"><img src="./images/works/works_deatil_1.jpg" alt=""></div>
        <div class="swiper-slide"><img src="./images/works/works_deatil_2.jpg" alt=""></div>
        <div class="swiper-slide"><img src="./images/works/works_deatil_3.jpg" alt=""></div>
        <div class="swiper-slide"><img src="./images/works/works_deatil_4.jpg" alt=""></div>
        <div class="swiper-slide"><img src="./images/works/works_deatil_5.jpg" alt=""></div>
        <div class="swiper-slide"><img src="./images/works/works_deatil_6.jpg" alt=""></div>
        <div class="swiper-slide"><img src="./images/works/works_deatil_7.jpg" alt=""></div>
        <div class="swiper-slide"><img src="./images/works/works_deatil_8.jpg" alt=""></div>
    </div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
</div>