<ul class="p-header__nav">
  <li class="p-header__item">
    <a href="" class="p-header__link">
      お知らせ
    </a>
  </li>
  <li class="p-header__item">
    <a href="" class="p-header__link">
      事業内容
    </a>
  </li>
  <li class="p-header__item">
    <a href="" class="p-header__link">
      制作実績
    </a>
  </li>
  <li class="p-header__item">
    <a href="" class="p-header__link">
      企業概要
    </a>
  </li>
  <li class="p-header__item">
    <a href="" class="p-header__link">
      ブログ
    </a>
  </li>
  <li class="p-header__item">
    <a href="" class="p-header__link p-header__link--white">
      お問い合わせ
    </a>
  </li>
</ul>