<div class="p-mainvisual">
  <div class="p-mainvisual__content">
    <div class="p-mainvisual__title">タイトル</div>
    <div class="p-mainvisual__lead">リード文</div>
  </div>
  <!-- Swiperに関する記述 -->
  <div class="swiper p-mainvisual-swiper js-mainvisual-swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <!-- ここにスライド内容を記述 -->
        <picture class="p-mainvisual__image">
          <source media="(min-width: 769px)" srcset="./images/common/mv_1.jpg">
          <img src="./images/common/mv_1-sp.jpg" alt="">
        </picture>
      </div>
      <div class="swiper-slide">
				<!-- ここにスライド内容を記述 -->
        <picture class="p-mainvisual__image">
          <source media="(min-width: 769px)" srcset="./images/common/mv_2.jpg">
          <img src="./images/common/mv_2-sp.jpg" alt="">
        </picture>
      </div>
      <div class="swiper-slide">
				<!-- ここにスライド内容を記述 -->
        <picture class="p-mainvisual__image">
          <source media="(min-width: 769px)" srcset="./images/common/mv_3.jpg">
          <img src="./images/common/mv_3-sp.jpg" alt="">
        </picture>
      </div>
    </div>
  </div>
</div>