<div class="p-news-item">
  <div class="p-news-item__upper">
    <time class="p-news-item__time">
      <%= time %>
    </time>
    <span class="p-news-item__category">
      <%= category %>
    </span>
  </div>
  <h2 class="p-news-item__title">
    <a href="#">
      <%= title %>
    </a>
  </h2>
</div>