<div class="p-panel">
  <a href="">
    <div class="p-panel__inner">
      <div class="p-panel__image">
        <img src="<%= link %>" alt="<%= text %>">
      </div>
      <p class="p-panel__text"><%= text %></p>
    </div>
  </a>
</div>