<div class="p-pagenation wp-pagenavi">
  <a href="" class="previouspostslink">PREV</a>
  <span class="current page">1</span>
  <a href="" class="page">2</a>
  <a href="" class="page">3</a>
  <a href="" class="page">4</a>
  <a href="" class="nextpostslink">NEXT</a>
</div>