<div class="p-panels">
  <%- include('./_p-panel',{link:'../images/common/top_content_1.jpg', text:'経営理念ページへ'}) %> 
  <%- include('./_p-panel',{link:'../images/common/top_content_2.jpg', text:'理念1へ'}) %> 
  <%- include('./_p-panel',{link:'../images/common/top_content_3.jpg', text:'理念2へ'}) %> 
  <%- include('./_p-panel',{link:'../images/common/top_content_4.jpg', text:'理念3へ'}) %> 
</div>
