<div class="p-section-body">
  <h3 class="p-section-body__title"><%= title %></h3>
  <p class="p-section-body__text"><%= text %> </p>
  <div class="p-section-body__button">
    <%- include('./_c-btn',{link:'#', text:'詳しくみる'}) %> 
  </div>
</div>