<div class="p-section-contact">
    <div class="p-section-contact__head">
      <%- include('./_c-section-title', {en:'Contact',jp:'お問い合わせ'}) %> 
    </div>
    <div class="p-section-contact__body">
      <p class="p-section-contact__text">テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</p>
      <div class="p-section-contact__button">
        <%- include('./_c-btn', {link:'#',text:'お問い合わせへ'}) %> 
      </div>
    </div>
</div>