<div class="p-works-card">
  <a href="">
    <div class="p-works-card__inner">
      <div class="p-works-card__image">
        <img src="<%= link %>" alt="<%= text %>">
      </div>
      <span class="p-works-card__label"><%= label %></span>
      <p class="p-works-card__text"><%= text %></p>
    </div>
  </a>
</div>