.c-page-top-button {
	background-color: #FFF;
	display: inline-block;
	height: rem(45);
	position: relative;
	transition: all .3s;
	width: rem(45);
}

.c-page-top-button:hover {
	background-color: #333;
	transition: all .3s;
}

.c-page-top-button::before {
	border-right: solid 2px #333;
	border-top: solid 2px #333;
	content: '';
	height: rem(19);
	left: 28%;
	position: absolute;
	top: 40%;
	transform: rotate(-45deg);
	transition: all .3s;
	width: rem(19);
}

.c-page-top-button:hover::before {
	border-right: solid 2px #fff;
	border-top: solid 2px #fff;
	transition: all .3s;
}

.l-page-top-button {
	margin-left: 20px;
}

