// 色
$background: #111; // 背景
$background-gray: #333; // 背景（灰）
$background-white: #fff; // テキスト色（白）
$background-alert: #FFDCDC; //背景（注意喚起）
$background-light-gray: #c4c4c4; //背景（注意喚起）
$text-white: #fff; // テキスト色（白）
$text-black: #333; // テキスト色（黒）
$text-alert: #FF5757; // テキスト色（注意喚起）
$main-color: #F9F871; //メインカラー
$accent-color1: #FFEA2E; //タグ・ライン色
$accent-color2: #FFBA6A; //ラベル色

// マウスホバー
$opacity: 0.7; // 透過度

// フォント
$font-family-base: 'Noto Sans JP', sans-serif;// ベースフォント
$font-family-sub: 'Noto Serif JP', serif; //サブフォント
$font-size-base: 16px; // ベースフォントサイズ
$font-weight-base: 400; // ベースフォントウェイト
$lh: 1.6; // ベース行間

// ---
// レイアウト
// ---
$l-tab: 768px; // タブレットサイズ
$l-inner: 1100px; // インナー幅
$l-pc: 1440px; // パソコン幅

// ブレークポイント（PC基準）
$breakpoints: (
	"sp": "screen and (min-width: 375px)",
	"tab": "screen and (min-width: #{$l-tab})",
	"pc": "screen and (min-width: #{$l-inner})",
	"lg": "screen and (min-width: #{$l-pc})",

);




$padding-pc: 25px; // タブレット時の余白
$padding-sp: 20px; // スマホ時の余白
